<div class="container">
     <a href="">
          <div class="contain card m-3 text-center">
               <div class="card-header text-center fw-3">
                    <h1>Moneycontrol News</h1>
                    <p>
                         TCS Q3 result: Net profit rises 11% to Rs 10,883 crore, revenue up 19% - Moneycontrol
                    </p>
               </div>
               <div class="card-body">
                    <p>
                         The revenue beat estimates but the profit was below Street expectations. The company also
                         announced a dividend of Rs 75 per share including Rs 67 as a special dividend. The record date
                         for dividends is January 17 and the payment date is February 3, 2022.
                    </p>
                    <img src="https://images.moneycontrol.com/static-mcnews/2023/01/TCS-CEO-770x378.jpg"
                         class="img-fluid w-100" alt="...">

                    <p>
                         Tata Consultancy Services (TCS) on January 9 reported a 10.98 percent increase in its
                         consolidated net profit at Rs 10,883 crore for the quarter ended December 2022 (Q3FY23). The
                         company had posted a… [+2960 chars]
                         <span>
                              Learn more...
                         </span>
                    </p>
               </div>
          </div>
     </a>
     <a href="">
          <div class="contain card m-3 text-center">
               <div class="card-header text-center fw-3">
                    <h1>Moneycontrol News</h1>
                    <p>
                         TCS Q3 result: Net profit rises 11% to Rs 10,883 crore, revenue up 19% - Moneycontrol
                    </p>
               </div>
               <div class="card-body">
                    <p>
                         The revenue beat estimates but the profit was below Street expectations. The company also
                         announced a dividend of Rs 75 per share including Rs 67 as a special dividend. The record date
                         for dividends is January 17 and the payment date is February 3, 2022.
                    </p>
                    <img src="https://images.moneycontrol.com/static-mcnews/2023/01/TCS-CEO-770x378.jpg"
                         class="img-fluid w-100" alt="...">

                    <p>
                         Tata Consultancy Services (TCS) on January 9 reported a 10.98 percent increase in its
                         consolidated net profit at Rs 10,883 crore for the quarter ended December 2022 (Q3FY23). The
                         company had posted a… [+2960 chars]
                         <span>
                              Learn more...
                         </span>
                    </p>
               </div>
          </div>
     </a>
     <a href="">
          <div class="contain card m-3 text-center">
               <div class="card-header text-center fw-3">
                    <h1>Moneycontrol News</h1>
                    <p>
                         TCS Q3 result: Net profit rises 11% to Rs 10,883 crore, revenue up 19% - Moneycontrol
                    </p>
               </div>
               <div class="card-body">
                    <p>
                         The revenue beat estimates but the profit was below Street expectations. The company also
                         announced a dividend of Rs 75 per share including Rs 67 as a special dividend. The record date
                         for dividends is January 17 and the payment date is February 3, 2022.
                    </p>
                    <img src="https://images.moneycontrol.com/static-mcnews/2023/01/TCS-CEO-770x378.jpg"
                         class="img-fluid w-100" alt="...">

                    <p>
                         Tata Consultancy Services (TCS) on January 9 reported a 10.98 percent increase in its
                         consolidated net profit at Rs 10,883 crore for the quarter ended December 2022 (Q3FY23). The
                         company had posted a… [+2960 chars]
                         <span>
                              Learn more...
                         </span>
                    </p>
               </div>
          </div>
     </a>
     <a href="">
          <div class="contain card m-3 text-center">
               <div class="card-header text-center fw-3">
                    <h1>Moneycontrol News</h1>
                    <p>
                         TCS Q3 result: Net profit rises 11% to Rs 10,883 crore, revenue up 19% - Moneycontrol
                    </p>
               </div>
               <div class="card-body">
                    <p>
                         The revenue beat estimates but the profit was below Street expectations. The company also
                         announced a dividend of Rs 75 per share including Rs 67 as a special dividend. The record date
                         for dividends is January 17 and the payment date is February 3, 2022.
                    </p>
                    <img src="https://images.moneycontrol.com/static-mcnews/2023/01/TCS-CEO-770x378.jpg"
                         class="img-fluid w-100" alt="...">

                    <p>
                         Tata Consultancy Services (TCS) on January 9 reported a 10.98 percent increase in its
                         consolidated net profit at Rs 10,883 crore for the quarter ended December 2022 (Q3FY23). The
                         company had posted a… [+2960 chars]
                         <span>
                              Learn more...
                         </span>
                    </p>
               </div>
          </div>
     </a>
</div>