a {
     text-decoration: none;
     color: black;
}
.card-header h1 {
     text-transform: uppercase;
     font-weight: 400;
     word-spacing: 2px;
}
.card-header p {
     color: rgb(108, 108, 108);
}
span {
     color: blue;
}